* {
    margin: 0;
    padding: 0;
}


html,
body {
    transition: all .5s ease-in-out;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#main {
    transition: all 3s ease-in-out;
    border-radius: 99px 4px;
    height: 500px;
    width: 500px;
    margin: 9vh auto;
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    box-shadow: 0px 0px 25px 6px #535C91;
    overflow: hidden;
}

#one {
    margin: 5% 17% 5% 17%;
    height: 15%;
}

.inputlabel {
    color: #2B2B2B;
    font-family: sans-serif;
    font-weight: bold;
}

#username {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

#info {
    color: rgb(163, 163, 163);
    margin-top: 4px;
    font-weight: lighter;
}

#two {
    margin: 10% 17%;
    height: 15%;
}

.pass {
    height: 30px;
    width: 300px;
    display: flex;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 20px;
}

.password {
    background-color: transparent;
    border-radius: 3px 0px 0px 3px;
    width: 90%;
    height: 35px;
    border: none;
    height: 27px;
    outline: none;
    padding-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.trigger {
    text-align: center;
    background-color: transparent;
    color: black;
    outline: none;
    border: 2px solid white;
    width: 10%;
    height: 30px;
    border-radius: 0px 4px 4px 0px;
    font-size: 15px;
    font-weight: bold;
}

.trigger:hover {
    cursor: pointer;
    font-size: 17px;
    text-shadow: 0px 6px 4px black;
}

#four {
    margin-top: 13px;
    visibility: hidden;
}


#confirmpassinfo {
    visibility: hidden;
    color: rgb(170, 168, 168);
}

#enterbtn {
    position: relative;
    height: 40px;
    text-align: center;
    top: 5%;
    left: 35%;
    justify-self: center;
}

#enter {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 780;
    background: linear-gradient(to right, #4c0769, #3b016e);
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#enter:hover {
    cursor: pointer;
    background: linear-gradient(to right, #3b016e, #4c0769);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

#click {
    display: flex;
    gap: 1%;
    align-items: center;
    margin-top: 5%;
    padding-left: 20%;

}

#question {
    color: #3B3B3B;
    font-family: sans-serif;
    text-align: center;
}

#clickme {
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    color: blue;
    text-align: center;
}

#clickme:hover {
    text-decoration: underline;
    color: rgb(50, 90, 180);
}

#forgotpass {
    color: blue;
    font-family: sans-serif;
    text-align: center;
}

#forgotpass:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* adding responsiveness  */

@media (max-width: 780px) {
    body {
        background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    }

    #main {
        border: none;
        border-radius: 0;
        display: flexbox;
        width: 100vw;
        padding: 5%;
        margin: 20% auto;
        justify-content: center;
    }

    #main #username {
        border: none;
        outline: none;
        border-radius: 5px;
        width: 70%;
    }


    #main #one,
    #two,
    #three,
    #four {
        width: 70%;
    }

    #five {
        width: 100%;
    }

    #forgotpass {
        margin-right: 20%;
    }



}