* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right, #4c0769, #3b016e, #9c1d01, #c23c03);
    overflow: hidden;
}

#main {
    border: 2px solid #787388;
    border-radius: 99px 4px;
    height: 500px;
    width: 500px;
    gap: 50px;
    margin: 5% 20% 2% 31.5%;
    background: #171744;
    box-shadow: 0px 0px 25px 6px #535C91;
    /* overflow: hidden; */
}

#headquestion {
    text-align: center;
    visibility: hidden;
    color: rgb(179, 175, 175);
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 9px;
}

#one {
    margin: 5% 17% 5% 17%;
    height: 15%;
}

.inputlabel {
    color: rgb(155, 154, 154);
    font-family: sans-serif;
    font-weight: bold;
}

#username {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

#info {
    color: rgb(163, 163, 163);
    margin-top: 4px;
    font-weight: lighter;
}

#two {
    margin: 10% 17% 10% 17%;
    height: 15%;
}

.pass {
    height: 30px;
    width: 300px;
    display: flex;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 20px;
}

.password {
    background-color: transparent;
    border-radius: 3px 0px 0px 3px;
    width: 100%;
    height: 35px;
    border: none;
    height: 27px;
    outline: none;
    padding-left: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.trigger {
    text-align: center;
    background-color: transparent;
    color: black;
    outline: none;
    border: 2px solid white;
    width: 40px;
    height: 30px;
    border-radius: 0px 4px 4px 0px;
    font-size: 15px;
    font-weight: bold;
}

.trigger:hover {
    cursor: pointer;
    font-size: 17px;
    text-shadow: 0px 6px 4px black;
}

#four {
    margin-top: 13px;
    visibility: hidden;
}


#confirmpassinfo{
    visibility:hidden;
    color: rgb(170, 168, 168);
    position: fixed;
    bottom: 38%;
}

#enterbtn {
    height: 40px;
    text-align: center;
    display: inline-block;
    margin: 50px 0% 1% 38%;
}

#enter {
    outline: none;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 780;
}

#enter:hover {
    cursor: pointer;
    background-color: rgb(185, 184, 184);
    border: 2px solid rgb(185, 184, 184);

}

#question {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

#click{
    position: fixed;
    left: 56.9%;
    bottom: 12.5%;
}

#clickme {
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(77, 117, 226);
    cursor: pointer;
}

#clickme:hover {
    text-decoration: underline;
}